<div class="container">
  <h1></h1>
  <div class="col-xs-12">
    <label for="salary">Salary</label>
    <input type="number" class="form-control" [(ngModel)]="salary" (change)="calculate()" required>
  </div>
  <div class="col-xs-12">
    <label for="paidDaysOff">Paid days off</label>
    <input type="number" class="form-control" [(ngModel)]="paidDaysOff" (change)="calculate()" required>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <label for="hourlyRate">Hourly Rate</label>
    <div>${{ hourlyRate |  number : '1.2-2' }}</div>
  </div>
</div>
